*
!.gitignore
!AGENTS.md
!README.md
!skills.sh
!.scripts/
!.scripts/**
!biome.json
!package.json

# --- --- SKILLS --- ---

!commit-changes/
!commit-changes/**
!skill-creator/
!skill-creator/**
!brainstorming/
!brainstorming/**
!plan-with-subagents/
!plan-with-subagents/**

