*
!.gitignore
!AGENTS.md
!README.md
!skills.sh
!.scripts/
!.scripts/**
!biome.json
!package.json

# --- --- SKILLS --- ---

!commit-changes/
!commit-changes/**
!skill-creator/
!skill-creator/**
!super-planning/
!super-planning/**
!project-init/
!project-init/**

